*{
    margin: 0;
    padding: 0;
}
#YThomeimg{
    height: 90px;
}
#searchbox{
    margin-left: 350px;
    height: 40px;
    width: 500px;
    font-size: 30px;
}
#searchbutt{
    height: 45px;
    width: 40px;
    border: none;
    background-color: white;
}
#iconsearch{
    height: 30px;
}
#headerline{
    margin-top: 30px;
}
#video{
    margin-top: 50px;
    margin-left: 70px;
}
#videoline{
    margin-top: 30px;
}
#title{
    margin-top: 50px;
    margin-left: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#channel{
    margin-top: 50px;
    margin-left: 550px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#disel{
    margin-top: 50px;
}
#distitle{
    margin-bottom: 100px;
    margin-left: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif; 
}
#dis{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;  
}
#rat{
margin-left: 1100px
}
#like{
    background-color: white;
    border: none;
}
#heart{
    height: 30px;
}
#dislike{
    background-color: white;
    border: none;
}
#no{
    height: 30px;
}
#li{
    font-size: 30px;
}
#di{
    font-size: 30px;
}
#com{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 10px;
}
#sentin{
    height: 30px;
    width: 500px;
    font-size: 25px;
    margin-left: 10px;
}
#sendbut{
    background-color: white;
    border: none;
}
#send{
    height: 30px;
}
#usercoms1{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#coms1{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}